cache_bootstrap_B2000/
cache_bootstrap_pipeline/
.Rhistory
.Rproj.user/
.RData
.Rapp.history
*.Rcheck/
renv/library/
renv/local/
renv/cellar/
renv/python/
renv/staging/
.DS_Store
pseudo_ipd_primary_M1000_rho050_cv100.csv
pseudo_ipd_subsample_N50_rho050_cv100.csv
* * * * * Dynamic*.pdf
***1 ***Tabla*.csv
